<div class="col-5">
    <%= form_for @charge do |f| %>
        <div class= "fomr-group">
            <%= f.label :anount%>
            <%= f.text_field :anount, class: "form_control"%>
        </div>
        <div>
            <%= link_to "Cancel", root_path%>
            <%= f.submit "Ir a pagar"%>
        <div>
    <%end%>
</div>
